$primaryColor: #E1E8ED;
$primaryFont: 'Open Sans', sans-serif;

body {
	background-color: $primaryColor;
  margin: 0px;
  font-family: $primaryFont;
}

.nav {
  background: lightblue;
  margin: 0px;
  height: 50px;
}

.summonerNameInput {
  margin-left: 0px;
  margin-right: 15px;
  border-radius: 3px;
  border-style: solid;
  border-color: #E1E8ED;
  width: 600px;
  height: 35px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 8px #ADD8E6;
  }
}

.nav-home-button {
  position: fixed;
  top: 15px;
  left: 12px;
  border-style: none;
  width: 80px;
  height: 35px;
  border-radius: 6px;
  background-color: #E1E8ED;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 3%;
  cursor: pointer;
}

.spinner {
  visibility: hidden;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  width: 89px;
  height: auto;
}

.spinner.active {
  visibility: visible;  
}

.summonerInputContainer {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 30%;
  position: absolute;
  text-align: center;
}

.summonerProfileContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 30%;
  top: 25%;
}

.mostPlayedChampPic {
  position: absolute;
  margin-top: 25.72px;
}

.mostPlayedChampHeader {
  margin-bottom: 0px;
}

.summonerProfileHeader {
  margin-bottom: 0px;
}

.summonerProfilePic {
  margin-top: 36px;
}

.mostPlayedChampContainer {
  float: right;
  transform: translate(-50%, -50%);
  top: 13%;
  position: fixed;
  left: 70%;
}

.summonerProfileNameAndRank {
	float: right;
	margin-left: 20px;
}